@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
/* Base body styling */
body {
  font-family: "Lato", sans-serif;
  background-color: var(--bg-color);
  color: var(--main-text);
  font-size: 1rem;
  line-height: 1.6;
}

/* Heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2rem; /* 36px */
}

h2 {
  font-size: 1.875rem; /* 30px */
}

h3 {
  font-size: 1.5rem; /* 24px */
}

h4 {
  font-size: 1.25rem; /* 20px */
}

/* Paragraph styles */
p {
  
  font-size: 1rem; /* 16px */
  color: var(--dark-text);
}

/* Links */
a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

img {
  width: 100%;
}
:root {
  --bg-color: #f9f6ee;
  --fill-bg-color: #e9e9e9;
  --main-color: #2b5b8d;
  --secondary-color:#EAEFF4;
  --main-text: #1e1e1e;
  --dark-text: #706f6b;
  --active-btn: #bdccdc;
  --disable-btn: #bbb9b3;
  --light-hover: #dfe6ee;
  --border-color : #95948F;
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
